### 출력

In [8]:
print("makit \"code\" lab")
print("she's gone")

print('makit "code" lab')
print("she's gone")

print("makit \"code\" lab\nshe's gone")

print('makit "code" lab\nshe\'s gone')

makit "code" lab
she's gone
makit "code" lab
she's gone
makit "code" lab
she's gone
makit "code" lab
she's gone

In [4]:
print("Hello, world!\n"*2)

print("Hello, world!")
print("Hello, world!")

Hello, world!
Hello, world!

Hello, world!
Hello, world!

In [53]:
print('"Python" is a programming language that lets you work quickly')
print('and')
print('integrate systems more effectively.')

print("-"*100)

print("\"Python\" is a programming language that lets you work quickly")
print("and")
print("integrate systems more effectively.")

print("-"*100)

print('"Python" is a programming language that lets you work quickly', 'and', 'integrate systems more effectively.', sep = "\n")

print("-"*100)

print("\"Python\" is a programming language that lets you work quickly", "and", "integrate systems more effectively.", sep = "\n")

print("-"*100)

print('''"Python" is a programming language that lets you work quickly
and
integrate systems more effectively.''')

print("-"*100)

print(""""Python" is a programming language that lets you work quickly
and
integrate systems more effectively.""")

"Python" is a programming language that lets you work quickly
and
integrate systems more effectively.
----------------------------------------------------------------------------------------------------
"Python" is a programming language that lets you work quickly
and
integrate systems more effectively.
----------------------------------------------------------------------------------------------------
"Python" is a programming language that lets you work quickly
and
integrate systems more effectively.
----------------------------------------------------------------------------------------------------
"Python" is a programming language that lets you work quickly
and
integrate systems more effectively.
----------------------------------------------------------------------------------------------------
"Python" is a programming language that lets you work quickly
and
integrate systems more effectively.
----------------------------------------------------------------------------------------------------
"Python" is a programming language that lets you work quickly
and
integrate systems more effectively.

### 수 계산

In [8]:
x = float(input())
y = 0.2467 * x + 4.159
print(int(y))

12
7

In [10]:
AP = 102    
print(float(AP * 0.6 + 225))

286.2

### 변수 할당

In [15]:
# a의 값은 10
# b의 값은 20
# a와 b의 합은 30

a = 10
b = 20

print("a의 값은", a)
print("b의 값은", b)
print("a와 b의 합은", a+b)

a의 값은 10
b의 값은 20
a와 b의 합은 30

In [32]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59
 
print(year, month, day, sep = "/", end = " ")
print(hour, minute, second, sep = ":")

2000/10/27 11:43:59

### 변수 곱셈 출력

a = 10
b = "makit"

print(a * 3)
print(b * 3)

### 수 입력

In [18]:
m = 1
print(m)

m = m + 1
print(m)

m += 1
print(m)

m = m - 1
print(m)

m -= 1
print(m)

1
2
3
2
1

### 나머지 / 몫

In [20]:
a = 30//8
b = 30%8

print("30을 8로 나눈 몫은", a)
print("30을 8로 나눈 나머지는", b)
print("30을 8로 나눈 결과는", 30/8)

30을 8로 나눈 몫은 3
30을 8로 나눈 나머지는 6
30을 8로 나눈 결과는 3.75

### 문자열 concatenation

In [21]:
print(12 + 34)
print('12' + '34')
print(2 ** 3)

46
1234
8

### 문자 줄바꾸기 (\n)

In [48]:
a = "시은 우진"

print(a, "화이팅!!\n")
print(a, "화이팅!!")

시은 우진 화이팅!!

시은 우진 화이팅!!

### 입력값 받기

In [54]:
name = input("이름이 무엇인가요? ")
age = int(input("몇 살인가요? "))
print(name, "님은 내년에는", age+1, "살이 됩니다.")

이름이 무엇인가요? 찍
몇 살인가요? 29
찍 님은 내년에는 30 살이 됩니다.

In [12]:
a, b, c = map(int, input().split())
print(a+b+c)

1 3 5
9

In [34]:
year, month, day, hour, minute, second = input().split()

print(year, month, day, sep = "-", end = "T")
print(hour, minute, second, sep = ":")

1999 12 31 10 37 21
1999-12-31T10:37:21

In [38]:
a, b, c, d = map(int, input().split())
print(a >=90 and b>80 and c>85 and d>=80)

90 80 85 80
False

### 평균값

In [57]:
a = int(input())
b = float(input())

print("a와 b의 합은", a+b)
print("a와 b의 평균값은", (a+b)/2)

3
2.5
a와 b의 합은 5.5
a와 b의 평균값은 2.75

In [29]:
a, b, c, d = map(int, input().split())
score = int((a+b+c+d)/4)
print(score)

83 92 87 90
88

### T/F

In [72]:
a = 10
b = 20
print(a < b)
print(a > b)
print(7 > 8)
print(7 < 8)
print(1 <= 1)
print(1 >= 2)
print(1 == 1)
print(1 == 2)
print(1 != 1)
print(1 != 2)

True
False
False
True
True
False
True
False
False
True

### and / or / not

In [74]:
a = 20
b = 30

print(a > 40 and b > 40)
print(a > 20 and b > 20)
print(a < 30 and b > 30)
print(a > 10 and b > 10)
print(20 > 40 or 30 > 40)
print(20 > 20 or 30 > 20)
print(20 < 30 or 30 > 30)
print(20 > 10 or 20 > 10)
print(a != b)
print(not(a != b))

False
False
False
True
False
True
True
True
True
False

### 부분 문자열 변환 replace

In [70]:
phone = '010-1234-5678'
new_phone = phone.replace("-", ".")

print(new_phone)

010.1234.5678

### 리스트

In [81]:
a = ['메이킷','우진','시은']

print(a)
print(a[0])
print(a[1])
print(a[2])

['메이킷', '우진', '시은']
메이킷
우진
시은

In [62]:
makit='Sieun Woojin!'

print(makit[0])
print(makit[6])
print(makit[-1])

S
W
!

In [65]:
makit = 'Sieun Woojin!'

print(makit[2:9])
print(makit[:5])
print(makit[6:])

eun Woo
Sieun
Woojin!

In [67]:
makit = '동서남북동서남북동서남북'
print(makit[0::4])

동동동

In [69]:
makit = '동서남북'
print(makit[::-1])

북남서동

In [83]:
a = ['메이킷','우진','제임스','시은']

print(a[:2])
print(a[1:])
print(a[2:])
print(a)

['메이킷', '우진']
['우진', '제임스', '시은']
['제임스', '시은']
['메이킷', '우진', '제임스', '시은']

In [92]:
a = ['우진','시은']

a.append("메이킷")
print(a)

del a[2]
print(a)

['우진', '시은', '메이킷']
['우진', '시은']

In [94]:
['우진', '하워드', '시은', '메이킷']

a = ['우진','시은','메이킷']
a.insert(1, "하워드")
print(a)

['우진', '하워드', '시은', '메이킷']

In [97]:
a = ['우진', '시은']
b = ['메이킷', '소피아', '하워드']

a.extend(b)

print(a)
print(b)

['우진', '시은', '메이킷', '소피아', '하워드']
['메이킷', '소피아', '하워드']

In [100]:
a = ['우진','시은']
b = ['메이킷','소피아','하워드']
c = []

c.extend(a)
print(c)

c.extend(b)
print(c)

['우진', '시은']
['우진', '시은', '메이킷', '소피아', '하워드']

In [106]:
a = [3, 7, 4, 5, 6, 8]

print("리스트 a의 개수 즉 길이는", len(a))
print("리스트 a의 숫자들의 평균은", sum(a)/len(a))

리스트 a의 개수 즉 길이는 6
리스트 a의 숫자들의 평균은 5.5

In [107]:
a = [1,2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

b = a[:5]
print('b :',b)

c = a[5:]
print('c :',c)

d = a[4:6]
print('d :',d)

e = a[::2]
print('e :',e)

f = a[1::2]
print('f :',f)

b : [1, 2, 3, 4, 5]
c : ['a', 'b', 'c', 'd', 'e']
d : [5, 'a']
e : [1, 3, 5, 'b', 'd']
f : [2, 4, 'a', 'c', 'e']

In [109]:
a = ['형우', '윤진', '시은', '우진']
b = a[::-1]

print(b)

['우진', '시은', '윤진', '형우']

In [111]:
a = [['메이킷', 95], ['우진', 100], ['시은', 98]]

print(a[0][0], '학생의 시험 점수는', a[0][1])
print(a[1][0],'학생의 시험 점수는',a[1][1])
print(a[2][0],'학생의 시험 점수는',a[2][1])

메이킷 학생의 시험 점수는 95
우진 학생의 시험 점수는 100
시은 학생의 시험 점수는 98

In [113]:
a = ['시은', '우진', '지훈', '지연']
b = " ".join(a)

print(b)

시은 우진 지훈 지연

In [116]:
a = '시은 우진 지훈 지연'
b = a.split(" ")

print(b)

['시은', '우진', '지훈', '지연']

In [57]:
a = list(range(5,-10,-2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

In [67]:
num = int(input())

a = list(range(-10,10,num))
print(a)

5
[-10, -5, 0, 5]

In [70]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]

print(year[-3::])
print(population[-3::])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

In [76]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2

print(n[1::2])

(75, -10, 32, -15, 76, 2)

In [86]:
x = input().split()
del x[-5:]
print(tuple(x))

1 2 3 4 5 6 7 8 9
('1', '2', '3', '4')

In [89]:
x = input()
y = input()

z = x[1::2] + y[::2]
print(z)

python
python
yhnpto

### 딕셔너리

In [4]:
camille = {
    'health': 575.6,
    'health_regen': 1.7,
    'mana': 338.8,
    'mana_regen': 1.63,
    'melee': 125,
    'attack_damage': 60,
    'attack_speed': 0.625,
    'armor': 26,
    'magic_resistance': 32.1,
    'movement_speed': 340
}

print(camille["health"])
print(camille["movement_speed"])

575.6
340

In [8]:
a = input().split()
b = map(float, input().split())

c = dict(zip(a, b))
print(c)

health mana melee attack_speed magic_resistance
573.6 308.8 600 0.625 35.7
{'health': 573.6, 'mana': 308.8, 'melee': 600.0, 'attack_speed': 0.625, 'magic_resistance': 35.7}

In [ ]:
health health_regen mana mana_regen
575.6 1.7 338.8 1.63

### 문제

In [76]:
n = int(input("초를 입력하세요:"))
print(n, "초(sec)는", n//60, "분(min)", n%60, "초(sec)입니다.")

초를 입력하세요:1234
1234 초(sec)는 20 분(min) 34 초(sec)입니다.

In [78]:
n = int(input("분을 입력하세요:"))
print(n, "분은", n//(24*60), "일",  (n%(24*60))//60,"시간", (n%(24*60))%60, "분입니다.")

분을 입력하세요:7512
7512 분은 5 일 5 시간 12 분입니다.

In [131]:
x, y, z = map(int, input().split())

print(x)
print(y)
print(z)

print(min(x,y,z))

1 2 3
1
2
3

1

### if/elif/else

In [9]:
x = 5
 
if x != 10:
    print('ok')

ok

In [13]:
a = int(input())
b = input()

if b == "Cash3000":
    print(a-3000)
    
if b == "Cash5000":
    print(a-5000)

35000
Cash5000
30000

In [14]:
written_test = 75
coding_test = True
 
if written_test >= 80 and coding_test == True:
    print('합격')
else:
    print('불합격')

불합격

In [21]:
korean, english, mathematics, science = map(int, input().split())

if 0 <= korean <= 100 and 0 <= english <= 100 and 0 <= mathematics <= 100 and 0 <= science <= 100:
    if (korean + english + mathematics + science) / 4 >= 80:
        print("합격")
    else:
        print("불합격")
else:
    print("잘못된 점수")

99 85 101 90
잘못된 점수

In [22]:
x = int(input())

if  11 <= x <= 20:
    print('11~20')
elif 21 <= x <= 30:
    print('21~30')
else:
    print('아무것도 해당하지 않음')

5
아무것도 해당하지 않음

In [37]:
age = int(input())
balance = 9000

if 7 <= age <= 12:
    balance -= 650
elif 13 <= age <= 18:
    balance -= 1050
elif 19 <= age:
    balance -= 1250

print(balance)

12
8350

In [35]:
korean = 92
english = 47
mathematics = 86
science = 81

if korean > 50 and english > 50 and mathematics > 50 and science > 50:
    print("합격")
else:
    print("불합격")

불합격

In [140]:
x = int(input("첫 번째 정수를 입력하세요:"))
y = int(input("두 번째 정수를 입력하세요:"))

if x>y:
    print("makit")
else:
    print("woojin")

첫 번째 정수를 입력하세요:10
두 번째 정수를 입력하세요:30
woojin

In [147]:
a = int(input("첫 번째 정수를 입력하세요:"))
b = int(input("두 번째 정수를 입력하세요:"))
c = int(input("세 번째 정수를 입력하세요:"))

if a%2 == 1:
    print(a)
    
if b%2 == 1:
    print(b)
    
if c%2 == 1:
    print(c)

첫 번째 정수를 입력하세요:2
두 번째 정수를 입력하세요:4
세 번째 정수를 입력하세요:6

In [150]:
a = int(input("첫 번째 정수를 입력하세요:"))
b = int(input("두 번째 정수를 입력하세요:"))
c = int(input("세 번째 정수를 입력하세요:"))


if a%2 == 1:
    print(a, "홀수")
else:
    print(a, "짝수")

if b%2 == 1:
    print(b, "홀수")
else:
    print(b, "짝수")
    
if c%2 == 1:
    print(c, "홀수")
else:
    print(c, "짝수")

첫 번째 정수를 입력하세요:2
두 번째 정수를 입력하세요:5
세 번째 정수를 입력하세요:8
2 짝수
5 홀수
8 짝수

In [153]:
a = int(input())

if a>0 and a%2 == 1:
    print("양수이고 홀수")
elif a>0 and a%2 == 0:
    print("양수이고 짝수")    
elif a<0 and a%2 == 0:
    print("음수이고 짝수")
else:
    print("음수이고 홀수")

5
양수이고 홀수

In [163]:
a = int(input("코딩 점수를 입력하세요:"))

if 0>a or a>101:
    pass
elif a>=90:
    print("A학점")
elif a>=80:
    print("B학점")
elif a>=70:
    print("C학점")
elif a>=60:
    print("D학점")
else:
    print("F학점")

코딩 점수를 입력하세요:80
B학점

In [166]:
a = input()

if a == "m" or a == "M":
    print("makit")
elif a == "j" or a == "J":
    print("james")
elif a == "w" or a == "W":
    print("woojin")   
elif a == "s" or a == "S":
    print("sieun")
else:
    print("howard")

s
sieun

In [169]:
num = int(input("몇 월 달인가요?"))

if num == 12 or num == 1 or num == 2:
    print("겨울")
elif num == 3 or num == 4 or num == 5:
    print("봄")  
elif num == 6 or num == 7 or num == 8:
    print("여름")
elif num == 9 or num == 10 or num == 11:
    print("가을")

몇 월 달인가요?11
가을

In [170]:
num = int(input("몇 월 달인가요?"))

if num in [12, 1, 2]:
    print("겨울")
elif num in [3, 4, 5]:
    print("봄")  
elif num in [6, 7, 8]:
    print("여름")
elif num in [9, 10, 11]:
    print("가을")

몇 월 달인가요?5
봄

In [174]:
a = int(input("몇 월인가요?"))

if a in [4, 6, 9, 11]:
    print(a, "월은 30일까지 있습니다")
elif a in [1, 3, 5, 7, 8, 10, 12]:
    print(a, "월은 31일까지 있습니다") 
elif a == 2:
    print(a, "월은 28일까지 있습니다")

몇 월인가요?4
4 월은 30일까지 있습니다

In [198]:
name = input("이름을 입력하세요:")
height = float(input("키를 입력하세요:"))

if name[0] == "m" or 150 <= height < 170:
    print("탈 수 있어요")
else:
    print("탈 수 없어요")

이름을 입력하세요:zzic
키를 입력하세요:150
탈 수 있어요

In [201]:
height = float(input("키를 입력하세요:"))

if 150 <= height < 170 or 175 <= height <= 180:
    print("탈 수 있어요")
else:
    print("탈 수 없어요")

키를 입력하세요:50
탈 수 없어요

In [204]:
height = float(input("키를 입력하세요:"))
sex = input("성별을 입력하세요:")

if sex == "여자" and (150 <= height < 170 or height%5 == 0):
    print("탈 수 있어요")
else:
    print("탈 수 없어요")

키를 입력하세요:150
성별을 입력하세요:남자
탈 수 없어요

In [223]:
height = input().split()
height = list(map(int, height))

if height[0] >= 150 and height[1] >= 150 and height[2] >= 150:
    print("터널 통과 가능")
else:
    print("터널 통과 불가능")

10
터널 통과 불가능

In [228]:
year = int(input("연도를 입력하세요:"))

if year%4 == 0:
    if year%100 == 0 and year%400 != 0:
        print(year, "년은 윤년이 아닙니다")
    else:
        print(year, "년은 윤년입니다")
else:
    print(year, "년은 윤년이 아닙니다")

연도를 입력하세요:1900
1900 년은 윤년이 아닙니다

In [243]:
a = input("주민등록번호 입력:")
sex = int(a[7])
age = int(a[0:2])

if sex == 1 or sex == 2:
    age = 1900 + age
elif sex == 3 or sex == 4:
    age = 2000 + age

if sex == 1 or sex == 3:
    print("남자", age, "년 출생")
elif sex == 2 or sex == 4:
    print("여자", age, "년 출생")

주민등록번호 입력:941030-2140318
여자 1994 년 출생

In [246]:
a = input().split()
a = list(map(int, a))
a = a.count(1)

if a == 0:
    print("모")
elif a == 1:
    print("도")
elif a == 2:
    print("개")
elif a == 3:
    print("걸")
elif a == 4:
    print("윷")

0 0  0  0
모

In [254]:
a = input().split()
height = float(a[0])/100
weight = float(a[1])

BMI = weight / (height * height)

if BMI >= 30:
    print("BMI 지수는", BMI, "이고 고도 비만입니다")
elif BMI >= 25:
    print("BMI 지수는", BMI, "이고 경도 비만입니다")
elif BMI >= 23:
    print("BMI 지수는", BMI, "이고 과체중입니다")
elif BMI >= 18.5:
    print("BMI 지수는", BMI, "이고 정상 체중입니다")
elif BMI < 18.5:
    print("BMI 지수는", BMI, "이고 저체중입니다")

185 80
BMI 지수는 23.37472607742878 이고 과체중입니다

In [267]:
width = input().split()
width = list(map(int, width))

c = max(width)
del width[width.index(c)]

if sum(width) > c:
    print("삼각형 가능")
else:
    print("삼각형 불가")

4 5 8
삼각형 가능

### for/while

In [2]:
for i in range(1, 11):
    print(i)
print("발사!")

1
2
3
4
5
6
7
8
9
10
발사!

In [3]:
x = [49, -17, 25, 102, 8, 62, 21]

for i in x:
    print(i * 10, end = " ")

490 -170 250 1020 80 620 210

In [6]:
num = int(input())

for i in range(1, 10):
    print(num, "*", i, "=", num*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [7]:
i = 2
j = 5

while i <= 32 or j >= 1:       
    print(i, j)
    j -= 1     
    i *= 2

2 5
4 4
8 3
16 2
32 1

In [9]:
money = int(input())

while money >= 1350:
    money -= 1350
    print(money)

13500
12150
10800
9450
8100
6750
5400
4050
2700
1350
0

In [14]:
i = 0
while True:
    if i % 10 != 3:
        i += 1
    else:
        print(i, end=' ')
        i += 1
    if i > 73:
        break

3 13 23 33 43 53 63 73

In [24]:
start, stop = map(int, input().split())

i = start

if 1 <= start <= 200 and 10 <= stop <= 200:
    while True:
        if i > stop:
            break
        elif i % 10 == 3:
            i += 1
        else:
            print(i, end = " ")
            i += 1

1 20
1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

In [21]:
i = 1

while i < 11:
    print(i)
    i += 1
print("발사!")

1
2
3
4
5
6
7
8
9
10
발사!

In [22]:
i = int(input("카운트다운 몇 초 전인가요?"))

for i in range(i, 0, -1):
    print(i)
print("발사!")

카운트다운 몇 초 전인가요?10
10
9
8
7
6
5
4
3
2
1
발사!

In [37]:
num = int(input())

if num > 0:
    count = 0
    for i in range (0, num+1):
        count += i
    print("1부터", num, "까지 모두 더한 합은", count)

10
1부터 10 까지 모두 더한 합은 55

In [36]:
num = int(input())
if num > 0:
    i = 1
    count = 0
    while i < num+1:
        count += i
        i += 1
    print("1부터", num, "까지 모두 더한 합은", count)

10
1부터 10 까지 모두 더한 합은 55

In [47]:
while True:
    num = int(input("숫자를 입력하세요 "))
    if num >= 0:
        print("입력된 숫자는", num)
    else:
        break
print("종료합니다")

숫자를 입력하세요10
입력된 숫자는 10
숫자를 입력하세요7
입력된 숫자는 7
숫자를 입력하세요100
입력된 숫자는 100
숫자를 입력하세요-1
종료합니다

In [48]:
for i in range (1, 11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [59]:
num_01 = int(input("첫 번째 숫자를 입력하세요"))

if num_01 > 0:
    num_02 = int(input("두 번째 숫자를 입력하세요"))
    if num_02 > num_01:
        count = 0
        for i in range (num_01, num_02+1):
            count += i
            if i != num_02:
                print(i, end = "+")
            else:
                 print(i, end = "= ")
        print(count)

첫 번째 숫자를 입력하세요1
두 번째 숫자를 입력하세요10
1+2+3+4+5+6+7+8+9+10= 55

In [77]:
num_01 = int(input("첫 번째 숫자를 입력하세요"))

if num_01 > 0:
    num_02 = int(input("두 번째 숫자를 입력하세요"))
    if num_02 > num_01:
        count = 0
        for i in range (num_01, num_02+1):
            if i%2 == 0:
                count += i
        print(f"{num_01}부터 {num_02}까지 짝수들만의 합은 {count}")

첫 번째 숫자를 입력하세요1
두 번째 숫자를 입력하세요10
1부터 10까지 짝수들만의 합은 30

In [89]:
for i in range (0, 4):
    print("****")

****
****
****
****

In [90]:
a = "*"

for i in range (0, 5):
    print(a)
    a = a + "*"

*
**
***
****
*****

In [105]:
for i in range(0, 5):
    for j in range(0, i+1):
        print("*", end = "")
    print()

*
**
***
****
*****

In [106]:
for i in range(0, 5):
        for j in range(0, i+1):
            if i != j:
                print(" ", end = "")
            else:
                print("*", end = "")   
        print()

*
 *
  *
   *
    *

In [29]:
for i in range(5):
    for j in range(5):
        if j < i:
            print("", end = "")
        else:
            print("*", end = "")
    print()

*****
****
***
**
*

In [108]:
for i in range(5, 0, -1):
        for j in range(i, 0, -1):
            print("*", end = "")
        print()

*****
****
***
**
*

In [38]:
height = int(input())

for i in range(height):
    for j in reversed(range(height)):
        if j > i:
            print(' ', end='')
        else:
            print('*', end='')
    for j in range(height):
        if j < i:
            print('*', end='')
    print()

4
   *
  ***
 *****
*******

In [30]:
num = int(input())

for i in range(num):
    star = i*2+1
    print(" "*(num-i-1), end = "")
    print("*"*star, end = "")
    print(" "*(num-i-1), end = "")
    print()

4
   *
  ***
 *****
*******

In [39]:
for i in range(1, 101):
    if i%2 == 0 and i%11 == 0:
        print('FizzBuzz')
    elif i%2 == 0:
        print('Fizz')
    elif i%11 == 0:
        print('Buzz')
    else:
        print(i)

1
Fizz
3
Fizz
5
Fizz
7
Fizz
9
Fizz
Buzz
Fizz
13
Fizz
15
Fizz
17
Fizz
19
Fizz
21
FizzBuzz
23
Fizz
25
Fizz
27
Fizz
29
Fizz
31
Fizz
Buzz
Fizz
35
Fizz
37
Fizz
39
Fizz
41
Fizz
43
FizzBuzz
45
Fizz
47
Fizz
49
Fizz
51
Fizz
53
Fizz
Buzz
Fizz
57
Fizz
59
Fizz
61
Fizz
63
Fizz
65
FizzBuzz
67
Fizz
69
Fizz
71
Fizz
73
Fizz
75
Fizz
Buzz
Fizz
79
Fizz
81
Fizz
83
Fizz
85
Fizz
87
FizzBuzz
89
Fizz
91
Fizz
93
Fizz
95
Fizz
97
Fizz
Buzz
Fizz

In [41]:
a, b = map(int, input().split())

if 1 <= a <= 1000 and 10 <= b <= 1000:
    for i in range (a,b+1):
        if i % 5 == 0 and i % 7 == 0:
            print("FizzBuzz")
        elif i % 5 == 0:
            print("Fizz")
        elif i % 7 == 0:
            print("Buzz")
        else:
            print(i)

35 40
FizzBuzz
36
37
38
39
Fizz

In [176]:
a = input("하나의 문자열을 입력하세요:")

for i in range (0, len(a)):
    if a[i] == "a":
        pass
    else:
        print(a[i], end = "")

하나의 문자열을 입력하세요:1 번 친구 우진 을 소개합니다.
1 번 친구 우진 을 소개합니다.

In [180]:
name = ["우진", "시은", "메이킷", "지연", "지훈"]

for i in range(0, len(name)):
    print(i+1, "번 친구", name[i], "을 소개합니다.")

1 번 친구 우진 을 소개합니다.
2 번 친구 시은 을 소개합니다.
3 번 친구 메이킷 을 소개합니다.
4 번 친구 지연 을 소개합니다.
5 번 친구 지훈 을 소개합니다.

In [186]:
for i in range (1, 31):
    if i%5 == 0:
        continue
    else:
        print(i, end = " ")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29

In [205]:
num = int(input())

for i in range (0, num):
    count = 3+(5*i)
print(count)

100
498

In [220]:
a = input().split()
a = list(map(int, a))

print(min(a))

1 3 5
1.0

In [232]:
car = int(input())
height = input().split()
height = list(map(int, height))

if min(height) <= car:
    print("터널 통과 불가능")
    for i in range(0, len(height)):
        if height[i] <= car:
            print(height[i])
else:
    print("터널 통과 가능")

160
170 140 130
터널 통과 불가능
140
130

In [237]:
num = list(range(1, 1001))
num = str(num)
a = num.count("7")
print(a)

300

In [256]:
num = int(input())
a = []

if num >= 0:
    for i in range(1, num+1):
        if num%i == 0:
            str_i = str(i)
            a.append(str_i)
    print(" ".join(a))
    print(" ".join(a[::-1]))

12
1 2 3 4 6 12
12 6 4 3 2 1

In [259]:
count = int(input())
num = input().split()
num = list(map(int, num))

print("리스트 최댓값", max(num))
print("리스트 최솟값", min(num))
print("리스트 평균값", sum(num)/ len(num))

5
3 2 -20 100 35
리스트 최댓값 100
리스트 최솟값 -20
리스트 평균값 24.0

In [267]:
num = input()
count = 0

for i in range(0,len(num)):
    count  = count + int(num[i])
print(count)

1354
13

In [289]:
a = input()
b = []

for i in range(0,len(a)):
    b.append(chr(ord(a[i])+3))

print("".join(b))

Makit Code Lab !!
Pdnlw#Frgh#Ode#$$

In [300]:
a = input()
b = []

for i in range(0,len(a)):
    if 64 < ord(a[i]) < 97:
        b.append(chr(ord(a[i])+32))
    elif ord(a[i]) >= 97:
        b.append(chr(ord(a[i])-32))
    else:
        b.append(chr(ord(a[i])))
print("".join(b))

Makit Code Lab !!
mAKIT cODE lAB !!

### 피보나치 수열

In [1]:
a = int(input())
fibo = [0, 1, 1]

for i in range(0, a+1):
    if i < 3:
        continue
    else:
        fibo.append(fibo[i-1] +fibo[i-2])
print(fibo[i])

10
55